<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet", href="/stylesheets/style.css"/>
    <script src="/socket.io/socket.io.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  </head>
  <body>
    <h1>Gif Chat</h1>
    <h2>Let your images speak for you</h2>
    <p>Pick a room and gif it something special</p>
  </body>
</html>
