<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet", href="/stylesheets/style.css"/>
    <script src="/socket.io/socket.io.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  </head>
  <body>
		<h1 id="title"><%= title %></h1>
		<ul id="messageList">
		</ul>
		<label>
		  <div name="newMessage" id="messageText"></div>
		</label>
		<div id='keyboard'>
			<span class='key' id='a'><img src='http://s3.amazonaws.com/snappycomeback-bucket-pro/original/100/open-uri20120512-1-135xgzx?1336806086'></span>
			<span class='key' id='s'><img src='http://s3.amazonaws.com/snappycomeback-bucket-pro/original/100/open-uri20120512-1-135xgzx?1336806086'></span>
			<span class='key' id='d'><img src='http://s3.amazonaws.com/snappycomeback-bucket-pro/original/100/open-uri20120512-1-135xgzx?1336806086'></span>
			<span class='key' id='f'><img src='http://s3.amazonaws.com/snappycomeback-bucket-pro/original/100/open-uri20120512-1-135xgzx?1336806086'></span>
			<span class='key' id='g'><img src='http://s3.amazonaws.com/snappycomeback-bucket-pro/original/100/open-uri20120512-1-135xgzx?1336806086'></span>
			<span class='key' id='h'><img src='http://s3.amazonaws.com/snappycomeback-bucket-pro/original/100/open-uri20120512-1-135xgzx?1336806086'></span>
			<span class='key' id='j'><img src='http://s3.amazonaws.com/snappycomeback-bucket-pro/original/100/open-uri20120512-1-135xgzx?1336806086'></span>
			<span class='key' id='k'><img src='http://s3.amazonaws.com/snappycomeback-bucket-pro/original/100/open-uri20120512-1-135xgzx?1336806086'></span>
			<span class='key' id='l'><img src='http://s3.amazonaws.com/snappycomeback-bucket-pro/original/100/open-uri20120512-1-135xgzx?1336806086'></span>
		</div>
		<script src="javascripts/main.js"></script>
	</body>
</html>