body{ 
font-family: 'Source Code Pro', sans-serif;
  text-align: center;
  color:;
}

h1{
  margin-top: 20%;
  font-size: 56pt;
  color: #CF343B;
}
h2{
  font-size: 18pt;
  color: #111;
}

h3{
  font-size: 16pt;
  color: #111;
  margin-bottom:5%;
}

a {
	margin: 20px;
	padding: 2px;
  min-width: 200px;
	font-size: 14pt;
	color: #fff;
	text-decoration: none;
	background-color:#aaa ;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	width: 150px;
}